force-app/main/default/flows/Project_Partner_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Project_Address_Validation</name>
        <label>Project Address Validation</label>
        <locationX>618</locationX>
        <locationY>123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUserAsProjectAddressTRUE_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_Account_as_Project_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateProjectFromContact</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsUserAsProjectAddressTRUE(Contact)</label>
        </rules>
        <rules>
            <name>IsUserAsProjectAddressTRUE_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Contact_as_Project_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateProjectFromAccount</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsUserAsProjectAddressTRUE(Account)</label>
        </rules>
    </decisions>
    <interviewLabel>Project Partner Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Partner Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateProjectFromAccount</name>
        <label>UpdateProjectFromAccount</label>
        <locationX>920</locationX>
        <locationY>285</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zipcode__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProjectFromContact</name>
        <label>UpdateProjectFromContact</label>
        <locationX>231</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Contact__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>$Record.Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zipcode__c</field>
            <value>
                <elementReference>$Record.Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Project_Address_Validation</targetReference>
        </connector>
        <object>Project_Relationships__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
